#search-block {
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem 3rem;
    background-color: #dadbf0;
    text-align: center;
}

.search-container {
    display: inline-flex;
    align-items: center;
    position: relative;
}

#search-block input {
    padding: 10px;
    width: 25rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-arrow {
    position: absolute;
    right: 10px;
    font-size: 16px;
    pointer-events: none;
}

.search-container input {
    padding-right: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-block p {
    margin: 0;
    text-align: center;
    font-size: 40px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    max-width: 1000px;
    margin: 3rem auto;
    padding: 0 3rem;
}

.card {
    text-decoration: none;
    color: black;
    border: 1px solid #d7e0ea;
    border-radius: 8px;
    background-color: #f4f6f8;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
}

.card:hover {
    opacity: 0.9;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card hr {
    border: 1px solid #d7e0ea;
}

.card h3,
.card hr,
.card p {
    margin: 0;
}

.card h3,
.card p {
    padding: 1rem;
}